<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example</title>

                <!-- for adding "css" -->
                
<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />

</head>
<body>
	<div class="container">
	
	<img alt="" class="profile" th:src="@{/image/Ayush.jpeg}" src="">
	
	<h1>Adding Css , Javascrip And Image In Thymeleaf</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Officiis earum illum soluta neque magni dolore doloribus. Suscipit
		inventore molestiae corporis blanditiis quod perferendis officia
		minima ullam quidem doloribus quis ipsam alias sint excepturi
		consectetur ab aut odit ratione quibusdam dolor? Quas unde odit
		ratione nisi repellat assumenda quod sed qui.</p>
</div>

                <!-- for adding "js" -->
                
              <script src="" th:src="@{/js/myjs.js}"></script>
                
</body>
</html>